@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 0;
}

@font-face {
	src: url("../fonts/HelveticaNowTextMedium.woff2");
	font-family: HelveticaMedium;
}

@font-face {
	src: url("../fonts/Nike-Futura-ot-300.woff2");
	font-family: NikeFutura;
}

@font-face {
	src: url("../fonts/HelveticaNowText.woff2");
	font-family: HelveticaNowText;
}

@layer utilities {
	.padding {
		@apply p-11 lg:p-9 md:p-7 sm:p-5 xm:p-5;
	}
}
