@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 0;
}

@font-face {
	src: url("../fonts/HelveticaNowTextMedium.woff2");
	font-family: HelveticaMedium;
}

@font-face {
	src: url("../fonts/Nike-Futura-ot-300.woff2");
	font-family: NikeFutura;
}

@font-face {
	src: url("../fonts/HelveticaNowText.woff2");
	font-family: HelveticaNowText;
}

@layer utilities {
	.padding {
		@apply p-11 lg:p-9 md:p-7 sm:p-5 xm:p-5;
	}
}

.image-gallery-right-nav {
	left: 40px;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
	padding: 10px !important;
	bottom: 0 !important;
	top: auto !important;
	transform: translateY(0%) !important;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
	height: 35px !important;
	width: 35px !important;
	background-color: white;
	border-radius: 50%;
	color: black;
}

.image-gallery-icon {
	transition: all 0.3s ease-out;
	appearance: none;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	outline: none;
	position: absolute;
	z-index: 4;
	filter: drop-shadow(0 0px 0px #fff) !important;
}

.image-gallery-thumbnail:hover {
	outline: none;
	border: none !important;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus {
	outline: none;
	border: none !important;
	filter: brightness(0.8);
}

.image-gallery-thumbnail {
	border: none !important;
}
